.main-box-header {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-end;

  position: fixed;
  top: 0px;
  left: 0px;
  height: 126px;
  width: 100%;
}

.box-links {
  width: 515px;
  height: 42px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  background: #D6D7D7;
  box-shadow: -6px -6px 5px rgba(255, 255, 255, 0.7), 2px 2px 5px rgba(29, 31, 35, 0.3);
  border-radius: 8px;

  margin: 0 40px 0 0;
}

.buttons-header {
  /*Position */
  height: 15px;
  /*Font */
  background: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
  /* Colors */
  color: #293E58;
}

.buttons-header:hover {
  color:white;
}
